html{
font-family:Arial;
font-size:18px;
background:gray;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

form{
background:lightgray;
padding:10px;
}

input{
margin:5px;
}

button{
background:gray;
border:1px solid black;
}

button:hover{
background:green;
}

#rej{
color:black;
background:lightgray;
padding:5px;
text-decoration:none;
}

#rej:hover{
color:green;
}